// light theme
$mainColor: black;
$mainBackground: white;
$secondaryColor: gray;
$secondaryBackground: #e4e4e4;
$primaryButtonColor: #e16374;
$secondaryButtonColor: orange;
$successColor: lightgreen;
$red: maroon;
$menuBackground: #f7e7e9;

// dark theme
$mainColorDark: white;
$mainBackgroundDark: rgb(44, 44, 44);
$secondaryColorDark: rgb(146, 144, 144);
$secondaryBackgroundDark: rgb(78, 78, 78);
$primaryButtonColorDark: #e16374;
$secondaryButtonColorDark: rgb(182, 120, 6);
$successColorDark: rgb(52, 145, 52);
$redDark: red;
$menuBackgroundDark:#413436;