@import "../../style/variables.scss";
@import "../../style/colors.scss";
@import "../../style/mixins.scss";

.shop-labelinput {
  margin-bottom: $defaultMargin;
  input {
    width: 100%;
    margin-top: 6px;
    border: none;
    @include light-shadow;
    border-radius: 20px;
    padding: $smallPadding $defaultPadding;
    color: $secondaryColor;
    background-color: $mainBackground;
    &:focus {
      outline: none;
      border: 1px solid $primaryButtonColor;
    }
  }
}

.shop-dark {
  .shop-labelinput {
    input {
      @include dark-shadow;
      color: $secondaryColorDark;
      background-color: $secondaryBackgroundDark;
      &:focus {
        border: 1px solid $primaryButtonColorDark;
      }
    }
  }
}
